{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "esnext"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "externalHelpers": true
  }
}
