---
export interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="relative pl-16">
  <dt class="text-base/7 font-semibold text-gray-900">
    <div
      class="absolute text-white top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-accent-400"
    >
      <Icon name={icon} />
    </div>
    {title}
  </dt>
  <dd class="mt-2 text-base/7 text-gray-600">
    {description}
  </dd>
</div>
